.calculator {
  height: 80%;
  width: 95%;
  background: pink;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

#result {
  height: 20%;
  width: 100%;
  background: blue;
}

.calculator-body {
  height: 80%;
  width: 100%;
  background: red;
  display: flex;
  flex-direction: row;
}
